__pycache__
.idea
*.pyc
.DS_Store
checkpoints
results
venv
*.egg-info
build
dist
*.eg
checkpoints_test
logs
third_party
Dockerfile
run.sh
results
downloads/TensorRT-8.6.1.6/
grid-sample3d-trt-plugin-src
certs
frontend/node_modules
frontend/dist